*{
    margin: 0;
    padding: 0;
}

#lista-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: black;
    align-items: center;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.nav-link {
    text-decoration: none;
    color: aliceblue;
    position: relative;
    transition: 0.2s; 
}

.nav-link::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: rgb(8, 83, 152);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
}


nav{
    background-color: black;
}

#predio_menu{
    width: 60%;
    height: 50px;

}

.form_fundo{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: black;
    width: 40%;
    height: 80%;
    opacity: 0.9;
    justify-content: center;
}

.informacoes_form{
    display: flex;
    justify-content: space-around;
}

.fundo{
    background-image: url('/static/imagens/predLuxo1.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    opacity: 0.9;
    color: white;
    height: 600px;
    justify-content: center;
    font-size: 17px;
    gap: 50px;
}

footer{
    background-color: black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn{
    background-color: white;
    color:black;
    height: 22px;
    width: 33%;
    border-radius: 12px;
}

.btn:hover{
    background-color:rgb(8, 83, 152);
    color: white;
    cursor: pointer;
}

#img_footer{
    width: 15%;
    height: 80%;
}

#titulo_footer{
    color:white;
    font-style: italic;
}

.menssagem_flash{
    width: 15%;
    height: 38px;
    background-color:rgb(8, 83, 152);
    color: white;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}

.body_adm{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: darkred;
color:aliceblue;
margin: 0;
padding: 0;
gap:50px;
}

.adm{
    background-color: white;
    color: black;
   
}

hr{
    height: 2px;
    width: 100%;
    background-color: darkred;
    border: dashed;
}


.form_frente_adm{
  width: 70%;
  gap: 40px;
  display: grid;
}
   

.form_fundo_adm{
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: white;
    width: 40%;
    height: 80%;
    color: black;

}

#excluir_div{
    flex-direction: column;
    display: flex;
    width: 20%;
    height: 30px;
    padding-top: 20px;
}

.btn_excluir{
    background-color: black;
    color: white;
    border-radius: 15px;
    
}

.btn_excluir:hover{
    background-color: darkred;
    color: black;
    cursor: pointer;
}

.menssagem_flash_excluir{
    width: 15%;
    height: 38px;
    background-color:black;
    color: white;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
}

.menssagem_flash_excluir_all {
    display: none; /* Inicialmente oculta a mensagem flash */
}

.menssagem_flash_excluir_all.show {
    display: block; /* Exibe a mensagem flash */
}

.slider{
    height: 400px;
    width: 800px;
    overflow: hidden;
    border: 2px solid black;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    display: flex;
    margin-top: -40px;
    justify-content: center;
    gap: 40px;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.manual-btn:hover{
    background-color:rgb(8, 83, 152);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 800px;
    margin-top: 360px;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color:rgb(8, 83, 152);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:rgb(8, 83, 152);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:rgb(8, 83, 152);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color:rgb(8, 83, 152);
}

.fundo_all{
    background-color:rgb(8, 83, 152);
    background-size: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    opacity: 0.9;
    color: white;
    height: 1000px;
    justify-content: center;
    font-size: 17px;
    gap: 50px;
    transition: background 0.2s linear;
}

.fundo_all.dark{
    background-color: black;
}

nav.dark {
    background-color: rgb(103, 103, 103);
}

nav.dark a {
    color: black;
}

footer.dark {
    background-color: rgb(103, 103, 103);
}


footer.dark h1#titulo_footer {
    color: black;
}

nav.dark .nav-link::after {
    background-color: white;
}


#texto_sobrenos{
    width: 50%;
}

.fas{
background-color: rgb(8, 83, 152);
}

/*#body-all{
    transition: background 0.2s linear;
}

#body-all.dark{
    background-color: black;
}*/

.checkbox{
    opacity: 0;
    position: absolute;
}

.label-li{
    background-color: rgb(8, 83, 152);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 12px;
    width: 50px;
    gap: 10px;
    transform: scale(1.2);
}

.label-li .ball{
    background-color:white;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    height: 20px;
    width: 22px;
    transition: transform 0.2s linear;

}

.checkbox:checked + .label-li .ball{
    transform: translateX(35px);
}
