<!DOCTYPE html>
<html>

<head>
    <title>bomnegócio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <nav>
        <ul id="lista-menu">
            <li><img id="predio_menu" src="/static/imagens/predios_azul.png" alt="predio_menu"></li>
            <li><a href="/index" class="nav-link">Login</a></li>
            <li><a href="/sobrenos" class="nav-link">Sobre nós</a></li>
            <li><a href="/cadastrar" class="nav-link">Cadastrar</a></li>
            <li><div><input type="checkbox" class="checkbox" id="chk">
                <label class="label-li" for="chk">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <div class="ball"></div>
                </label>
            </div></li>
        </ul>
    </nav>

    <section class="fundo">
        {% set menssagem = get_flashed_messages() %}
        {% if menssagem %}
            <div class="menssagem_flash">
                {{menssagem[0]}}
            </div>
        {% endif %}

        <div class="form_fundo">
            <h1>Cadastrse-se</h1>
            <div class="form_frente">
                <form action="/cadastrarUsuario" method="post">

                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome" placeholder="digite seu nome aqui" required>
                    <br>
                    <br>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" placeholder="digite sua senha aqui" required>
                    <br>
                    <br>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="digite seu email aqui" required>
                    <br>
                    <br>
                    <label for="anoNasc">Ano em que nasceu:</label>
                    <input type="date" name="anoNasc" id="anoNasc" required>
                    <br>
                    <br>
                    <label for="genero">Gênero:</label>
                    <br>
                    <br>
                    <div class="informacoes_form">
                        <span>Masculino <input type="radio" name="genero" id="genero" required value="M"></span>
                        <span>Feminino <input type="radio" name="genero" id="genero" required value="F"></span>
                    </div>
                    <br>
                    <br>
                    <label for="notificacao">Deseja receber notificações pelo email?</label>
                    <br>
                    <br>
                    <div class="informacoes_form">
                        <span>Sim <input type="radio" name="notificacao" id="notificacao" required></span>
                        <span>Não <input type="radio" name="notificacao" id="notificacao" required></span>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="btn">ENVIAR</button>
                </form>
            </div>
            <div>
    </section>
    <footer>
        <img src="/static/imagens/predio_footer3.png" alt="predios" id="img_footer">
        <h1 id="titulo_footer">Bom Negócio</h1>
    </footer>



    <script src="{{ url_for('static', filename='script2.js') }}"></script>
    
</body>

</html>