<!DOCTYPE html>
<html>

<head>
    <title>Logado</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/style2.css">

</head>

<body>

    <section class="card-section">
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/paris.jpg" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">Paris</h2>
                            <p class="description">Paris, a capital da França, é uma das cidades mais icônicas e
                                românticas do mundo. Conhecida como "Cidade Luz", Paris é famosa por seus monumentos
                                históricos, arquitetura deslumbrante, arte excepcional, gastronomia requintada e moda
                                elegante. </p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>


                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/tokyo.jpeg" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">Japão-Tokyo</h2>
                            <p class="description">
                                Tóquio, a capital do Japão, é uma das cidades mais vibrantes e futuristas do mundo. Conhecida por sua mistura única de tradição, a cidade é um centro de inovação tecnológica,  e modernidade, Tóquio oferece uma experiência verdadeiramente diversificada aos visitantes.</p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/roma.jpg" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">Roma</h2>
                            <p class="description">Roma, a capital da Itália, é uma cidade rica em história, cultura e arquitetura magnífica. Conhecida como "A Cidade Eterna", Roma é um testemunho vivo de milênios de história, desde sua fundação lendária em 753 a.C. até os dias de hoje com lugares importantes como "o Coliseu."</p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/polona.jpg" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">Polônia</h2>
                            <p class="description">A Polônia é conhecida por suas cidades históricas e vibrantes, como Varsóvia, a capital, Cracóvia, Gdańsk, Wrocław e Poznań. Estas cidades oferecem uma mistura única de arquitetura histórica, rica cultura, excelente gastronomia e uma animada vida noturna. </p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/estonia.png" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">Estônia</h2>
                            <p class="description">A Estônia é conhecida por sua paisagem única, que inclui vastas áreas de floresta, milhares de ilhas e uma costa pitoresca ao longo do Mar Báltico. Sua capital, Tallinn, é famosa por seu centro histórico medieval,com ruas de paralelepípedos, torres de igrejas e muralhas antigas.</p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/dubai.jpg" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">Dubai</h2>
                            <p class="description">Dubai é uma cidade vibrante e cosmopolita nos Emirados Árabes Unidos, conhecida por sua arquitetura ultramoderna, luxo e estilo de vida opulento. Localizada ao longo da costa do Golfo Pérsico, Dubai emergiu como um dos principais destinos turísticos e comerciais do mundo.</p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/china.jpg" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">China</h2>
                            <p class="description">A China é conhecida por sua grandeza histórica, com marcos icônicos como a Grande Muralha, uma das estruturas mais impressionantes já construídas pelo homem. O país abriga sítios arqueológicos, templos antigos e palácios magníficos que testemunham séculos de desenvolvimento e influência cultural.</p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/canada.jpg" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">Canada</h2>
                            <p class="description">o Canadá é reconhecido por seu sistema de saúde universal, educação de alta qualidade, estabilidade política e social, e um ambiente propício para o empreendedorismo e a inovação. O país também possui uma reputação de tolerância, inclusão e respeito pelos direitos humanos.</p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>

                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="/static/imagens-logado/belgica.jpg" alt="lugares" class="card-img">
                            </div>

                        </div>

                        <div class="card-content">
                            <h2 class="name">Bélgica-Waterloo</h2>
                            <p class="description">Waterloo é uma cidade charmosa, conhecida  por sua importância histórica e também por sua bela paisagem rural. O memorial da Batalha de Waterloo, conhecido como "Butte du Lion" (Colina do Leão), oferece vistas panorâmicas da área e conta com um museu que retrata os eventos da batalha.</p>

                            <button class="button">Saiba mais</button>

                        </div>
                    </div>


                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <script src="{{ url_for('static', filename='scripts/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/script3.js') }}"></script>

</body>

</html>