<!DOCTYPE html>
<html>

<head>
    <title>principal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav>
        <ul id="lista-menu">
            <li><img id="predio_menu" src="/static/imagens/predios_azul.png" alt="predio_menu"></li>
            <li><a href="/index">Login</a></li>
            <li><a>Sobre nós</a></li>
            <li><a href="/cadastrar">Cadastrar</a></li>
            <li><a href="/principal">Principal</a></li>
        </ul>
    </nav>







</body>

</html>