<!DOCTYPE html>
<html>

<head>
    <title>bomnegócio</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav>
        <ul id="lista-menu">
            <li><img id="predio_menu" src="/static/imagens/predios_azul.png" alt="predio_menu"></li>
            <li><a href="/index">Login</a></li>
            <li><a href="/sobrenos">Sobre nós</a></li>
            <li><a href="/cadastrar">Cadastrar</a></li>
            <li><a href="/principal">Principal</a></li>
        </ul>
    </nav>

    <section class="fundo">
        <div class="slider">


        </div>





    </section>
    
    <footer>
        <img src="/static/imagens/predio_footer3.png" alt="predios" id="img_footer">
        <h1 id="titulo_footer">Bom Negócio</h1>
    </footer>




    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>